# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# Visual Studio
.vs/
*.csproj.user
*.[Rr]esources

# Rider
.idea/
*.sln.iml

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Roslyn
[Rr]oslyn/

# JetBrains
*_Resharper*
*.[Rr]e[Ss]harper

# BenchmarkDotNet
BenchmarkDotNet.Artifacts/

# Docker
.dockerignore
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
